body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #3a3f4b;
  margin: 0;
  background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}


.block-title {
   color: #3a3f4b;
  font-family: "Lora", sans-serif;
  font-size: 42px;
  font-weight: 700;
  line-height: 23px;
  text-transform: uppercase;
}

.block_line {
  margin-top: 29px;
}

/* Container*/
.container {
  width: 100%;
  max-width: 1180px;
  margin: 0 auto;
}

/*intro*/
.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  width: 100%;
  height: 710px;
  background: url("img/intro.jpg") center no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}

.intro__inner {
  width: 100%;
  margin: 0 auto;
  max-width: 715px;
  text-align: center;
}

.intro__title {
  color: #fff;
  font-family: "Lora", serif;
  font-size: 58px;
  font-weight: 700;
  line-height: 25px;
  text-align: center;
}

.intro__subtitle {
  margin-top: 45px;
  margin-bottom: 90px;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 25px;
  font-weight: 400;
  text-align: center;
  line-height: 25px;
}

.intro__btn {
  display: flex;
  align-items: center;
  margin: auto;

  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 25px;
  font-weight: 500;
  text-decoration: none;
  text-align: center;

  width: 320px;
  height: 70px;
  background-color: #00a5ff;
  border-radius: 40px;
  box-shadow: 0 0 5px #435b74;
  transition: 0.2s;
}

.btn_text {
  margin: auto;
}

.intro__btn:hover {
  color: #000000;
  background-color: #fff;
}

/*header*/
.header {
  padding-top: 25px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10000000;
  width: 100%;
}

.header_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_logo {
  display: block;
  float: left;
}

/*nav*/

.intro_nav {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  float: right;
}

.nav__link {
  display: inline-block;
  vertical-align: top;
  margin: 0 30px;

  color: #fff;
  text-decoration: none;
  opacity: 0.6;
  transition: 0.2s;
}

.nav__link:hover {
  opacity: 1;
}

/*Services*/
.services-title{
  margin-top: 73px;
}
.services {
  display: block;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  max-width: 100%;
  height: 540px;
}

.services__items {
  margin-top: 131px;
  display: flex;
  align-items: center;
}

.services__item {
  display: inline-block;
  margin-right: 53px;
  width: 252px;
  height: 204px;
}

.services__item:last-child {
  margin-right: 0;
}

.item-title {
  margin: 18px 0;
  color: #3a3f4b;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1.35px;
}

.item-text {
  width: 252px;
  height: 53px;
  color: #999999;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: bold;
  line-height: 20px;
  letter-spacing: 0.9px;
}

.item-line {
  margin-bottom: 17px;
}


/* portfolio */
.portfolio{
  display: block;
 
  margin: 0;
  width: 100%;
  height: 1153px;
  background-color: #f5f6f8;
}

.portfolio__inner{
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  text-align: center;
}

.portfolio-title{
  padding-top: 46px;
}

.portfolio-nav{
  display: inline-block;
  text-align: center;
  margin: 0 auto;
  margin-top: 63px;
}
.portfolio__navbar{
  position: relative;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
  color: #999999;
  margin-right: 55px;
  

  transition: .2s;
}

.portfolio__navbar::after{
  margin-top: 10px;
  position: absolute;
  content: "";
  opacity: 0;
  width: 100%;
  height: 1px;
  top: 100%;
  left: 0;
  z-index: 1;
  background-color: #00a5ff;
  transition: opacity .2s linear;
}

.portfolio__navbar:hover{
  color: #00a5ff;
}

.portfolio__navbar:hover::after{
  opacity: 1;
}

.portfolio__items{
  padding: 0;
  margin-top: 50px;
  margin-bottom: 62px;
  width: 100%;
  max-width: 1170px;
  font-size: 0;
}

.portfolio__item{
  vertical-align: bottom;
  display: inline-block;
  background-color: #f4f5f9;
  width: 380px;
  height: 350px;
  margin-left: 0;
  margin-top: 15px;
  margin-right: 15px;
  box-shadow: 0.4em 0.4em 5px rgba(122,122,122,0.5);
}

.portfolio__item:nth-child(3n) {
  margin-right: 0;
}

.portfolio__item-text{
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  color: #999999;
  font-weight: 400;
  padding: 22px 33px 0;
  text-align: left;
}

.portfolio_btn{
  text-transform: uppercase;
}

/* Brands */
.brands{
  margin: 0 auto;
  max-width: 100%;
  height: 430px;
  text-align: center;
}

.brands__title{
  padding-top: 65px;
}

.brands__items{
  margin-top: 75px;
  padding: 0;
  font-size: 0;
}

.brand__item{
  display: inline-block;
  height: 100px;
  margin-right: 60px;
  opacity: .5;

  transition: opacity .2s linear;
}

.brand__item:hover{
  opacity: 1;
}

.brand__item:last-child{
  margin-right: 0;
}

.brand__img{
  vertical-align: middle;
}

/* Reviews */
/* .reviews{
  width: 100%;
  height: 657px;
  margin: 0 auto;
  text-align: center; 
  background-color: #f5f6f8;
}

.reviews-title{
  padding-top: 65px;
} */

/* Contact */
.contact{
  padding-top: 80px;
    height: 710px;
  width: 100%;
  background-color: #3b404c;
}

.contact__header{
  vertical-align: middle;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact-title{
  font-family: 'Lora', sans-serif;
  font-size: 33px;
  color: #ffffff;
  font-weight: 550;
  line-height: 24px;
}

.contact_navlink{
  font-family: "Open Sans";
  color: #ffffff;
  font-size: 21px;
  font-weight: 200;
  line-height: 43px;
  text-decoration: none;
  margin-right: 30px;
  opacity: .6;
  transition: opacity .2s linear;
}

.contact_navlink:last-child{
  margin-right: 0;
}

.contact_navlink:hover{
  opacity: 1;
}

.contact__info{
  display: block;
  float: left;

  margin-top: 130px;
  width: 310px;
  height: 375px;

}

.contact__infoblock{
  margin-bottom: 60px;
}

.infoblock__title{
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;

  margin-bottom: 29px;

}

.infoblock__text{
  color: #999999;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.contact__form{
  margin-top: 110px;
  display: block;
  float: right;
  position: relative;

  width: 770px;
  height: 450px;
  padding: 0;

}

.form_block{
  width: 100%;

}

.info__block{
  width: 100%;
  max-width: 360px;
  height: 87px;
  padding: 0;
  display: inline-block;
  text-align: right;
  margin-left: 45px;
}

.form__title{
  font-family: "Open Sans";
  font-size: 26px;
  font-weight: 400;
  line-height: 38.64px;
  text-align: left;
  color: #ffffff;
  margin-bottom: 15px;
}

.info__block:first-child{
  margin-left: 0;
}

.input__info{
  width: 100%;
  max-width: 320px;
  padding: 0;
  height: 40px;
  background-color: #3b404c;
  border: none;
  border-bottom: 2px solid #999999;
  transition: border-bottom .3s linear;

  /* font-size: 26px; */
  padding: 10px 20px;
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 26px;
  font-weight: 400;
  line-height: 38.64px;

}

.input__info:focus,
.input__message:focus{
  outline: none;
  border-bottom: 2px solid #00a5ff;
}

.message_block{
  display: block;
  padding-top: 50px;
  width: 100%;
  height: 145px;
}

.input__message{
  width: 100%;
  max-width: 730px;
  height: 135px;

  background-color: #3b404c;
  border: none;
  border-bottom: 2px solid #999999;
  transition: border-bottom .3s linear;

  padding: 10px 20px;
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 26px;
  font-weight: 400;
  line-height: 38.64px;
}

.submit_btn{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 280px;
  height: 63px;
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 25px;
  font-weight: 300;
  line-height: 23px;
  background-color: #00a5ff;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.25);
  border-radius: 32px;
  outline: none;
  border: none;
  
}

/* Footer */
.footer{
  
  height: 90px;
  width: 100%;
}

.footer__inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  position: relative;
}

.author{
  display: block;
  float: left;
  color: #999999;
  font-family: Montserrat;
  font-size: 13px;
  font-weight: 400;
  line-height: 26px;
}

.social__icon{
  display: inline-block;
  margin-left: 10px;
  
}

.btn_up{
  position: absolute;
  top: -33px;
  left: 557px;
  height: 67px;
  width: 67px;
}